@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');

* {
    padding: 0;
    margin: 0;
}
body {
    background-image: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.white {
    background: #ffffff;
    padding: 2%;
}
h2 {
    color: #ffffff;
    font-family: 'Rubik Dirt', cursive;
    font-size: 72px !important;
}
h3 {
    color: #ffffff;
    font-family: 'Rubik Dirt', cursive;
    font-size: 36px !important;
}

.form-control, input, textarea {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

/* WhatsApp */

.whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:40px;
    right:40px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    z-index:100;
  }
  
  .whatsapp-icon {
    margin-top:13px;
  }

